<div class="bg-primary text-white">
  <div class="container py-5">
    <h1>Photo Manipulation with Machine Learning</h1>
    <p>
      Choose an <strong>input</strong> photo and an <strong>output</strong> photo, and press <strong>Train</strong>.
      Once the neural network has finished training, select another <strong>source</strong> photo and watch the app <strong>generate</strong> a new photo based on what it learned!
    </p>
    <p class="small mb-0">For best results, apply an effect to the input photo (such as sepia or grayscale) and feed it to the network as the output photo.</p>
  </div>
</div>

<div class="container py-5">

  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <label class="text-muted">Input</label>
      <app-canvas #canvasInput
        [width]="canvasWidth"
        [height]="canvasHeight"
        class="clickable"
        (click)="pickerInput.open()"
      ></app-canvas>
      <app-file-picker #pickerInput
        (onFileSelected)="canvasInput.drawImageFromFile($event)"
      ></app-file-picker>
    </div>
    <div class="col-12 col-md-4 text-center align-self-center">
      <div *ngIf="!isTraining">
        <div>
          <button type="button"
            class="btn btn-outline-primary"
            (click)="train()">
            Train >
          </button>
        </div>
        <div class="mt-1">
          <div class="btn-group">
            <button type="button"
              class="btn btn-sm btn-outline-secondary"
              (click)="pickerNetwork.open()">
              Load
            </button>
            <button type="button"
              class="btn btn-sm btn-outline-secondary"
              (click)="save()">
              Save
            </button>
          </div>
          <app-file-picker #pickerNetwork
            [accept]="'.json'"
            (onFileSelected)="loadNetwork($event)"
          ></app-file-picker>
        </div>
      </div>
      <div *ngIf="isTraining">
        <p class="mb-1 text-muted">Training...</p>
        <button type="button"
          class="btn btn-outline-warning"
          (click)="stopTraining()">
          Stop
        </button>

        <div class="mt-3 text-left w-75">
          <code>Error: {{ error }}
            <br>
            Iterations: {{ iterations }}
            <br>
            Rate: {{ rate }}
          </code>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 text-center">
      <label class="text-muted">Output</label>
      <app-canvas #canvasOutput
        [width]="canvasWidth"
        [height]="canvasHeight"
        class="clickable"
        (click)="pickerOutput.open()"
      ></app-canvas>
      <app-file-picker #pickerOutput
        (onFileSelected)="canvasOutput.drawImageFromFile($event)"
      ></app-file-picker>
    </div>
  </div>
</div>

<div class="bg-dark text-white">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-4 text-center">
        <label class="text-muted">Source</label>
        <app-canvas #canvasSource
          [width]="canvasWidth"
          [height]="canvasHeight"
          class="clickable"
          (click)="pickerSource.open()"
        ></app-canvas>
        <app-file-picker #pickerSource
          (onFileSelected)="canvasSource.drawImageFromFile($event)"
        ></app-file-picker>
      </div>
      <div class="col-12 col-md-4 text-center align-self-center">
        <button type="button"
          class="btn btn-primary"
          (click)="generate()">
          Generate >
        </button>
      </div>
      <div class="col-12 col-md-4 text-center">
        <label class="text-muted">Result</label>
        <app-canvas #canvasResult
          [width]="canvasWidth"
          [height]="canvasHeight"
        ></app-canvas>
      </div>
    </div>
  </div>
</div>
